@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, section, article, aside, header, footer, nav, dialog, figure, hgroup {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
ul, ol, li {
	list-style: none
}
em, i {
	font-style: normal
}
img {
	border: 0;
	max-width: 100%
}
input, img {
	vertical-align: middle
}
input:focus, a:focus {
	outline: 0
}
a {
	color: #333;
	text-decoration: none
}
a:hover {
opacity:
}
* {
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box
}
html {
	overflow-y: scroll
}
html, body {
	font-family:"Helvetica Neue", Helvetica, STHeiTi, "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}
.clearfix:after {
	clear: both
}
html {
	color: #000;
	background: #F2F2F2;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
html * {
	outline: 0;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent
}
html {
	font-size: 12px
}
body {
	min-width: 320px;
	line-height: 1.5;
	color: #333;
	background: #F2F2F2
}
.w {
	/*max-width: 640px;*/
	margin: 0 auto
}
.layout {
	margin: 10px;
	-webkit-box-sizing: border-box
}
.pdlayout {
	padding: 10px
}
.fix:after {
	display: block;
	content: '';
	clear: both;
	visibility: hidden
}
.cl {
	clear: both
}
.fl {
	float: left
}
.fr {
	float: right
}
.block {
	display: block
}
.dib {
	display: inline-block
}
.hide {
	display: none
}
.mt20 {
	margin-top: 20px!important
}
.mt10 {
	margin-top: 10px!important
}
.mt15 {
	margin-top: 15px!important
}
.mt12 {
	margin-top: 12px!important
}
.mtb10 {
	margin: 10px 0!important
}
.mt5 {
	margin-top: 5px!important
}
.mr10 {
	margin-right: 10px!important
}
.ti10 {
	text-indent: 10px
}
.tr {
	text-align: right
}
.tc {
	text-align: center
}
.f12 {
	font-size: 1rem!important
}
.f14 {
	font-size: 1.16rem!important
}
.f15 {
	font-size: 1.25rem!important
}
.f16 {
	font-size: 1.33rem!important
}
.f20 {
	font-size: 1.66rem!important
}
.pa {
	position: absolute
}
.pr {
	position: relative
}
.gray6 {
	color: #666
}
.gray9 {
	color: #999
}
.vm {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%)
}
.bold {
	font-weight: 700
}
.of {
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis
}
.wb {
	word-wrap: break-word;
	word-break: break-all;
	text-overflow: ellipsis
}
.snPrice {
	color: #d00
}
.snPrice em {
	padding-left: 2px
}
img.liprice {
	height: 20px!important;
	width: auto!important
}
.p {
	margin: 5px 0
}
.overtouch {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}
.border-1px, .border-1px-all {
	border-width: 1px;
	border-style: solid;
	border-color: #e0e0e0
}
.border-upd {
	border-width: 1px 0
}
.border-up {
	border-width: 1px 0 0 0
}
.border-down {
	border-width: 0 0 1px 0
}
.border-left {
	border-width: 0 0 0 1px
}
.border-right {
	border-width: 0 1px 0 0
}
.lazyimg img, .lazybox, .index-slide-box {
}
.wbox {
	display: -webkit-box
}
.wbox-flex {
	-webkit-box-flex: 1!important;
	word-wrap: break-word;
	word-break: break-all
}
.topFixed {
	padding-top: 45px
}
@-webkit-keyframes bounce {
0% {
left:0;
z-index:1
}
5% {
left:0;
z-index:1
}
25% {
left:6px;
z-index:1
}
50% {
left:13px;
z-index:3
}
75% {
left:6px;
z-index:3
}
95% {
left:0
}
100% {
left:0;
z-index:3
}
}
@-webkit-keyframes bounce-left {
0% {
left:13px
}
5% {
left:13px
}
25% {
left:6px
}
50% {
left:0
}
75% {
left:6px
}
95% {
left:13px
}
100% {
left:13px
}
}
.sn-html5-loading {
	position: relative;
	display: block;
	height: 12px;
	width: 24px;
	z-index: 1000;
	margin: 0 auto
}
.fixedLoading {
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -6px 0 0 -12px;
	z-index: 9999
}
.loagMask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background: rgba(0,0,0,.28)
}
.sn-html5-loading .blueball, .sn-html5-loading .orangeball {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	background: #F90;
	-webkit-animation: bounce 1.2s infinite;
	-webkit-animation-timing-function: linear;
	z-index: 3
}
.sn-html5-loading .blueball {
	left: 13px;
	background: #2272C9;
	-webkit-animation: bounce-left 1.2s infinite;
	-webkit-animation-timing-function: linear
}
.fix-wrap {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	z-index: 114
}
.fix-wrap .fix-nav {
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 125px;
	border-radius: 2px;
	background: rgba(255,255,255,.9);
	opacity: 0;
	-webkit-transition: all linear .15s;
	-webkit-transform: translate(-40px, 100px) scale(0.2)
}
.fix-wrap .fix-nav.show {
	opacity: 1;
	-webkit-transform: translate(0px, 0) scale(1)
}
.fix-wrap .fix-nav li {
	height: 44px;
	border-bottom: 1px solid #DDDEDE;
	line-height: 44px
}
.fix-wrap .fix-nav li a {
	display: block
}
.fix-wrap .fix-nav li em {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 10px;
	background: url(images/shortcut.png) no-repeat -3px -25px;
	background-size: 2em;
	vertical-align: -2px
}
.fix-wrap .fix-nav li em.fix-car {
	background-position: -4px -53px
}
.fix-wrap .fix-nav li em.fix-search {
	background-position: -4px -135px
}
.fix-wrap .fix-nav li em.fix-type {
	background-position: -4px -77px
}
.fix-wrap .fix-nav li em.fix-mySuning {
	background-position: -4px -1px
}
.fix-wrap .fix-nav li i {
	display: block;
	width: 5px;
	height: 5px;
	margin: 20px 10px 0 0;
	border: 1px solid #A2A1A1;
	border-width: 1px 0 0 1px;
	-webkit-transform: rotate(135deg)
}
.fix-wrap .fix-nav li:last-child {
	border: 0 none
}
.fix-wrap .fix-link {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	background: #389FFF url(images/shortcut.png) no-repeat 0 -157px;
	background-size: 100%;
	border-radius: 40px;
	border: 2px solid #fff
}
.searchScreenIfm {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .3!important;
	z-index: 111
}
.fix-wrap .fix-link.gray {
	background-color: #a1a1a1
}
.logo {
	width: 60px;
	height: 30px;
	margin: 7px 0 0 15px
}
.index-nav {
	height: 45px;
	background: #FF7701;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 100
}
.sticky {
	position: -webkit-sticky!important
}
.search-bar input[type=search] {
	width: 100%;
	background: #FF9334;
	height: 30px;
	border: none;
	border-radius: 15px;
	padding: 5px 15px 5px 25px;
	color: #fff;
	font-size: 12px
}
.top-d-l-o-a-d .clo-se {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	z-index: 10
}
.top-d-l-o-a-d .click {
	position: relative;
	display: block;
	z-index: 9
}
.top-d-l-o-a-d .openClient {
	position: absolute;
	right: 15px;
	top: 40px;
	width: 50px;
	height: 35px
}
.index-slide {
	width: 100%;
	overflow: hidden;
	margin-top: -1px
}
.index-slide img {
	width: 100%
}
.index-slide .index-slide-box {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 100px
}
.index-slide .index-slide-box ul {
	margin: 0;
	overflow: hidden
}
.index-slide .index-slide-box li {
	position: relative;
	float: left;
	overflow: hidden
}
.index-slide .index-slide-trigger {
	position: absolute;
	right: 5px;
	bottom: 10px;
	height: 8px;
	text-align: right;
	font-size: 0
}
.index-slide .index-slide-trigger li {
	display: inline-block;
	margin-right: 5px;
	width: 7px;
	height: 7px;
	border: 1px solid #DDD;
	background: 0 0
}
.index-slide .index-slide-trigger li.cur {
	background: #F70;
	border: 1px solid #F70
}
.nav-carousel {
	background: #FFF
}
.nav-carousel-box {
	overflow: hidden

}
.nav-carousel .slide_ul {
	overflow: hidden;
    text-align: center;
}
.nav-carousel .slide_ul li {
	position: relative;
	float: left;
	padding: 10px 0 0 0;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	font-size: 0
}
.nav-carousel .slide_ul li a {
	display: inline-block;
	text-align: center;
	min-width: 23%;
    max-width: 25%;
	margin:10px 0;
	overflow: hidden
}
.nav-carousel .slide_ul li a span {
	display: block;
	margin: 8px 0 0 0;
	font-size: 14px;
	color: #707070;
	height: 18px;
	overflow: hidden
}
#navCarousel .slide_ul img {
	width: 60%;
	-webkit-transition: all .5s ease-in-out
}
@media screen and (max-width:480px) {
#navCarousel .slide_ul img {
	width: 45px
}
}
.nav-slide-trigger {
	text-align: center;
	position: relative;
	margin: 7px;
	font-size: 0
}
.nav-slide-trigger li {
	display: inline-block;
	width: 7px;
	height: 7px;
	border: 1px solid #DDD;
	background: 0 0;
	margin-right: 5px
}
.nav-slide-trigger li.cur {
	background: #F70;
	border: 1px solid #F70
}
.triggerBox {
	background: #FFF;
	text-align: center
}
.triggerBox .prev, .nav-carousel .triggerBox .next {
	display: inline-block;
	height: 22px;
	width: 20px;
	background: url(images/prev_on.png) no-repeat 0 0;
	background-size: contain;
	cursor: pointer
}
.triggerBox .next {
	background: url(images/next_on.png) no-repeat 0 0;
	background-size: contain
}
.floor a {
	display: block
}
.floor img {
	width: 100%
}
.floor-area {
	background: #FFF;
	-webkit-transform: translate3d(0px, 0, 0)
}
.floor-title {
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 16px
}
.floor-title a {
	position: absolute;
	right: 10px;
	top: 0;
	height: 40px;
	width: 30%;
	text-align: right;
	font-size: 14px
}
.store-recommend-box img {
	min-height: 120px
}
.ovf {
	overflow: hidden
}
.app04-pic01, .app04-pic02, .app06-pic01, .app08-pic01, .app08-pic01 li:last-child dd:last-child, .app09-pic01, .app09-pic01 li:first-child dd:last-child, .app10-pic01 li, .app11-pic01, .app14-pic01 li, .app15-pic01, .app18-pic02, .app19-pic01 {
	display: table;
	width: 100%;
	overflow: hidden
}
.app04-pic01 li, .app04-pic02 li, .app06-pic01 li, .app08-pic01 li, .app08-pic01 li:last-child dd:last-child a, .app09-pic01 li, .app09-pic01 li:first-child dd:last-child a, .app10-pic01 li a, .app11-pic01 li, .app14-pic01 li a, .app15-pic01 li, .app18-pic02 li, .app19-pic01 li {
	display: table-cell;
	vertical-align: top
}
.app03-pic01 li a, .app04-pic02 li, .app06-pic01 li, .app08-pic01 li:last-child dd:last-child a:first-child, .app09-pic01 li:first-child, .app09-pic01 li:first-child dd:last-child a:first-child, .app10-pic01 li a:first-child, .app12-pic li a, .app14-pic01 li a:first-child {
}
.app04-pic01 li:last-child, .app08-pic01 li:last-child, .app11-pic01 li:last-child, .app15-pic01 li:last-child, .app18-pic02 li:last-child {
}
.app12-pic li a {
	float: left
}
.app04-pic01 li, .app11-pic01 li, .app08-pic01 li:last-child dd:last-child a, .app09-pic01 li:first-child dd:last-child a, .app14-pic01 li a, .app10-pic01 li a, .app06-pic01 li, .app15-pic01 li, .app18-pic02 li {
	width: 50%
}
.app04-pic01 li:last-child dd:last-child, .app04-pic02, .app11-pic01 li:last-child dd, .app08-pic01 li:last-child dd:last-child, .app14-pic01 li, .app10-pic01 li a {
	border-top: 1px solid #e0e0e0
}
.app15-pic01 li:last-child dd:first-child a, .app18-pic01 li:first-child a, .app18-pic02 li:last-child dd:first-child a, .app09-pic01 li:first-child dd:first-child {
	border-bottom: 1px solid #e0e0e0
}
.app04-pic02 li:last-child, .app12-pic li a:last-child {
	border-right: 0 none
}
.app08-pic01 li:first-child, .app09-pic01 li:last-child {
	width: 37.5%
}
.app08-pic01 li:last-child, .app09-pic01 li:first-child {
	width: 62.5%
}
.app14-pic01 li:first-child, .app10-pic01 li:first-child a, .app11-pic01 li:last-child dd:first-child {
	border-top: 0 none
}
.app03-pic01 li {
	width: 33.3333%
}
.app03-pic01 li:last-child a {
	border-right: 1px solid transparent
}
.app18-pic01 li {
	width: 100%
}
.app19-pic01 {
	padding: 5px 0;
	background: #FFF;
	border-collapse: separate;
	border-spacing: 4px 0
}
.app19-pic01 li {
	border: 1px solid #e0e0e0;
	border-radius: 2px
}
.app12-box {
	background: #FFF;
	overflow: hidden
}
.app12-pic {
	height: 150px;
	overflow: hidden
}
.app12-pic li {
	height: 150px;
	-webkit-transition: -webkit-transform 0ms ease-in-out;
	-webkit-transform: translate3d(0px, 0, 0)
}

.app12 img {
	width: 150px;
	height: 150px;
	min-height: 75px
}
@media screen and (min-width:640px) {
.index-slide {
	margin-top: 0
}
}
@media screen and (max-width:414px) {
.app12-pic, .app12-pic li {
	height: 95px
}
.app12 img {
	width: 95px;
	height: 95px
}
}
@media screen and (max-width:375px) {
.app12-pic, .app12-pic li {
	height: 87px
}
.app12 img {
	width: 87px;
	height: 87px
}
}
@media screen and (max-width:320px) {
.app12-pic, .app12-pic li {
	height: 75px
}
.app12 img {
	width: 75px;
	height: 75px
}
}
.app03 img, .app04-pic02 img {
	min-width: 105px
}
.app19-pic01 img {
	min-width: 99px
}
.app16 img {
	min-width: 100px
}
.search-bar {
	margin: 8px 8px 0
}
.search-bar:before, .sn-search-input:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 9px;
	width: 11px;
	height: 13px;
	background-size: 100%
}
.search-bar input::-webkit-input-placeholder {
color:#FFF
}
.my-cart {
	width: 29px;
	height: 25px;
	margin: 10px 15px 0 0;
	background-size: 100%
}
.my-cart a {
	display: block;
	width: 40px;
	height: 40px;
	margin-top: -7px
}
.my-cart .count {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 15px;
	height: 15px;
	border-radius: 5px;
	background: red;
	line-height: 15px;
	color: #FFF;
	font-size: 10px;
	text-align: center
}
.my-cart .count em {
	display: block;
	-webkit-transform: scale(0.7)
}
.my-cart .count em i {
	position: absolute;
	right: -4px;
	top: -3px
}
.store-recommend, .nav-carousel.brand-recommend {
	background: #FFF;
	overflow: hidden
}
.store-recommend .slide_ul {
	overflow: hidden
}
.store-recommend .slide_ul li {
	float: left;
	position: relative;
	width: 100%;
	padding: 5px 0 5px 5px
}
.store-recommend .slide_ul li>.wbox {
	display: block;
	overflow: hidden
}
.store-recommend li .store-pic {
	float: left;
	width: 33.3334%;
	border-right: 5px solid #FFF
}
.store-recommend li .store-pic span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: rgba(0,0,0,.5);
	line-height: 20px;
	color: #FFF;
	text-align: center;
	font-size: 12px
}
.brand-recommend .slide_ul {
	overflow: hidden
}
.brand-recommend .slide_ul li {
	position: relative;
	float: left;
	padding: 10px 0 0 0;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	font-size: 0
}
.brand-recommend .slide_ul li a {
	display: inline-block;
	text-align: center;
	width: 25%;
	margin-bottom: 5px;
	overflow: hidden;
vertical-align:
}
.brand-recommend .slide_ul li a span {
	display: block;
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #707070;
	height: 18px;
	overflow: hidden
}
.sn-active, .sn-active body {
	overflow: hidden
}
.sn-search-box {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 104
}
.sn-search-top {
	height: 44px;
	padding: 0 15px;
	background: #F70;
	line-height: 44px
}
.sn-search-top>.wbox-flex {
	top: 7px
}
.sn-search-top .sn-search-input {
	height: 30px;
	border-radius: 15px;
	background: #FF9334
}
.sn-search-top input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 30px;
	padding: 0 0 0 30px;
	border: 0 none;
	background: 0 none;
	font-size: 14px;
	color: #FCCEA6;
	-webkit-box-sizing: border-box
}
.sn-search-top input::-webkit-input-placeholder {
color:#FCCEA6
}
.sn-search-input:before {
	width: 13px;
	height: 13px;
	background-size: 100%
}
.sn-search-close {
	display: block;
	margin-left: 15px;
	font-size: 15px;
	color: #FFF
}
.sn-search-hots {
	padding: 15px 0 15px 15px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}
.sn-search-hots a {
	display: inline-block;
	height: 25px;
	margin: 0 15px 15px 0;
	padding: 0 10px;
	border-radius: 13px;
	border: 1px solid #FFF;
	line-height: 25px;
	font-size: 13px;
	color: #FFF
}
.sn-list-change {
	background: #FFF
}
.sn-search-item {
	display: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}
.sn-list-change .sn-search-hots {
	display: none
}
.sn-list-change .sn-search-item {
	display: block
}
.sn-search-item li {
	height: 40px;
	border-bottom: 1px solid ;
	line-height: 40px
}
.sn-search-item li a {
	display: block;
	padding-left: 15px;
	font-size: 13px;
	color: #707070;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.sn-search-item li a.c3 {
	color: #333
}
.list-ui-index li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e0e0e0;
	color: #313131;
	background: #fff;
	font-size: 14px
}
.list-ui-index li:first-child {
	border-top: 1px solid #e0e0e0
}
.list-ui-index li a {
	color: #776D61
}
.footer {
	margin-top: 10px
}
.backTop {
	position: relative;
	display: inline-block;
	width: 85px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	text-align: left;
	text-indent: 30px;
	background: #A9A9A9;
	margin: 0 10px 10px 0;
	border-radius: 2px;
	font-size: 12px
}
.backTop:after {
	content: '';
	position: absolute;
	left: 10px;
	top: 4px;
	width: 0;
	height: 0;
	border: 6px solid #fff;
	border-color: transparent transparent #fff transparent
}
.foot-list a {
	padding: 0 15px 0 25px;
	border-right: 1px solid #AFABA5;
	margin: 0 7px
}
.foot-list a:last-child {
	border: none
}
.foot-list li:last-child a {
	padding-left: 30px
}
.foot-list a.foot1, .foot-list a.foot2, .foot-list a.foot3, .foot-list a.foot4, .foot-list a.foot5, .foot-list a.foot6 {
}
.foot-list a.foot1 {
	background-position: 1px 0;
	background-size: 19px 102px
}
.foot-list a.foot2 {
	background-position: -3px -54px;
	background-size: 23px 122px
}
.foot-list a.foot3 {
	background-position: 0 -84px;
	background-size: 19px 100px
}
.foot-list a.foot4 {
	background-position: 0 -75px;
	background-size: 22px 115px
}
.foot-list a.foot5 {
	background-position: -2px -27px;
	background-size: 22px 115px
}
.foot-list a.foot6 {
	background-position: -60px -152px;
	background-size: 269px 202px
}
.copyright {
	color: #707070;
	padding: 5px 0;
	background: #f2f2f2;
	font-size: 12px
}
.alertBox {
	position: absolute;
	left: 0;
	top: 0;
	width: 90%;
	background: #FFF;
	padding: 10px;
	border-radius: 1px;
	z-index: 101
}
.alertBoxBlack {
	background: rgba(0,0,0,.7);
	color: #fff
}
.alertBox .msg {
	text-align: center;
	padding: 20px 0;
	word-break: break-all
}
#tempMask {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	width: 100%;
	z-index: 100
}
.alertBox span {
	display: block;
	margin: 0 auto;
	width: 80px
}
.alertBox-inner {
	padding: 0
}
.sn-nav {
	position: relative;
	height: 45px;
	background: #F7F7F9;
	line-height: 44px;
	border-bottom: 1px solid #DCDCDC;
	font-size: 1.25rem
}
.sn-nav-title {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.41rem
}
.sn-nav-back, .sn-nav-list {
	margin: 0 10px;
	position: absolute;
	width: 19%;
	top: 0
}
.sn-nav-back a, .sn-nav-list a {
	position: absolute;
	top: 0;
	display: block
}
.sn-nav-back {
	position: absolute;
	left: 5px;
	top: 15px;
	border: 2px solid #686B72;
	border-width: 2px 0 0 2px;
	-webkit-transform: rotate(-45deg);
	width: 12px;
	height: 12px
}
.sn-nav-back a {
	width: 12px;
	height: 12px;
	text-indent: -100rem;
	overflow: hidden
}
.sn-nav-list {
	right: 0;
	height: 45px;
	overflow: hidden
}
.sn-nav-list a {
	position: absolute;
	right: 0
}
.sn-nav-left {
	position: absolute;
	left: 0;
	top: 0;
	height: 45px;
	width: 19%
}
.sn-nav-left .cate-all {
	position: absolute;
	left: 15px;
	top: 14px;
	width: 18px;
	height: 19px;
	background: url(images/main.png) no-repeat -4px -6px;
	background-size: 6.1em
}
.sn-nav-right {
	position: absolute;
	right: 0;
	top: 0;
	height: 45px;
	width: 19%
}
.sn-nav-right .my-account {
	position: absolute;
	right: 56px;
	top: 14px;
	width: 22px;
	height: 23px;
	background: url(images/main.png) no-repeat -2.66em -.4em;
	background-size: 6.6em
}
.sn-nav-right .my-home {
	position: absolute;
	right: 15px;
	top: 9px;
	width: 25px;
	height: 25px;
	background: url(images/icon-home.png) no-repeat 0 0;
	background-size: contain
}
.sn-nav-right .quick-icon {
	position: absolute;
	top: 8px;
	right: 20px;
	height: 6px;
	width: 6px;
	background: #656B70;
	border-radius: 6px
}
.sn-nav-right .quick-icon:after {
	content: "";
	position: absolute;
	top: 9px;
	height: 6px;
	width: 6px;
	background: #656B70;
	border-radius: 6px
}
.sn-nav-right .quick-icon:before {
	content: "";
	position: absolute;
	bottom: -18px;
	height: 6px;
	width: 6px;
	background: #656B70;
	border-radius: 8px
}
.sn-nav-right .my-cart {
	position: absolute;
	right: 15px;
	top: 14px;
	width: 24px;
	height: 22px;
	background: url(images/main.png) no-repeat -80px -6px
}
.sn-nav-right .my-cart.my-cart-in {
	background: url(images/main.png) no-repeat -72px -6px;
	background-size: 6.6em
}
.sn-nav-right .my-cart.my-cart-in .count {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 13px;
	height: 13px;
	background: #fc6e51;
	color: #999;
	border-radius: 15px;
	text-align: center;
	line-height: 13px;
	color: #fff
}
.sn-nav-right .my-cart.my-cart-in .count em {
	display: block;
	text-align: center;
	-webkit-transform: scale(0.6);
	font-size: 13px
}
.sn-nav-right .my-cart.my-cart-in .count em.count-em {
	margin-left: -3px
}
.sn-nav-right .my-cart.my-cart-in .count em.count-em i {
	position: absolute;
	right: -5px;
	top: -5px
}
.screenIfm {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .3!important;
	z-index: 111
}
.sn-nav .quick-icon-area {
	position: absolute;
	right: 0;
	width: 50px;
	height: 40px
}
.sn-nav .sub-list {
	width: 100px;
	position: absolute;
	top: 40px;
	right: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	z-index: 112
}
.sn-nav .sub-list .quick-nav {
	display: block;
	height: 40px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	padding-left: 40px;
	position: relative
}
.sn-nav .sub-list .quick-nav:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 12px;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 10px;
	background: url(images/shortcut.png) no-repeat -3px -25px;
	background-size: 2em;
	vertical-align: -2px
}
.sn-nav .sub-list .quick-nav.search-icon:after {
	background-position: -4px -135px
}
.sn-nav .sub-list .quick-nav.cart-icon:after {
	background-position: -4px -53px
}
.sn-nav .sub-list .quick-nav.cate-icon:after {
	background-position: -4px -77px
}
.sn-nav .sub-list .quick-nav.yigou-icon:after {
	background-position: -4px -1px
}
#returnTop {
	position: fixed;
	bottom: 20px;
	width: 38px;
	height: 38px;
	border: 1px solid #969696;
	border-radius: 40px;
	right: 10px;
	background-size: 16px 20px
}

.dhlist{ width:100%;}
.dhlist li{ width:100%; border-bottom:1px #ccc solid; font-size:16px; padding:8px 12px; line-height:24px; background:#fff}
.dhlist li span{ float:right; font-size:14px; line-height:24px; color:#3C3}
.dhlist li img{ padding:0 10px 0 0; width:34px;}

.dhtablist8{ width:100%;}
.dhtablist8 li { float:left; width:25%; }
.dhtablist8 li.c a{ background:#D5F8B6 }
.dhtablist8 li a { background:#fff; padding:6px; margin:6px; border:1px #ccc solid; text-align:center;}

.dhtablist3{ width:100%;}
.dhtablist3 li { float:left; width:33%; }
.dhtablist3 li.c a{ background:#D5F8B6 }
.dhtablist3 li a { background:#fff; padding:6px; margin:6px; border:1px #ccc solid; text-align:center;}
.dhSearchInput{width:74%;background: #FFF;border: 1px solid #DCDCDC;border-radius:6px; height: 32px;font-size: 16px; padding:0 0.5em; margin:1% 1% 1% 2%; color:#333}
.dhSearchBtn{ width:19%;background:#e0e0e0;border: 0;border-radius:6px; height: 32px;font-size: 16px; text-align:center; margin:1% 2% 1% 0; color:#666;}