<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>奥迪</string>
				<key>icon</key>
				<string>m_2_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝马</string>
				<key>icon</key>
				<string>m_3_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奔驰</string>
				<key>icon</key>
				<string>m_4_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保时捷</string>
				<key>icon</key>
				<string>m_5_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大众</string>
				<key>icon</key>
				<string>m_6_100</string>
			</dict>
		</array>
		<key>title</key>
		<string>德系品牌</string>
		<key>desc</key>
		<string>高端大方上档次，世界一流品牌</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>本田</string>
				<key>icon</key>
				<string>m_7_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>丰田</string>
				<key>icon</key>
				<string>m_8_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铃木</string>
				<key>icon</key>
				<string>m_9_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雷克萨斯</string>
				<key>icon</key>
				<string>m_10_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马自达</string>
				<key>icon</key>
				<string>m_36_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日产</string>
				<key>icon</key>
				<string>m_37_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>三菱</string>
				<key>icon</key>
				<string>m_13_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>现代</string>
				<key>icon</key>
				<string>m_14_100</string>
			</dict>
		</array>
		<key>title</key>
		<string>日韩品牌</string>
		<key>desc</key>
		<string>牛逼哄哄，哎哟，好像不错</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>别克</string>
				<key>icon</key>
				<string>m_15_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>福特</string>
				<key>icon</key>
				<string>m_16_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Jeep</string>
				<key>icon</key>
				<string>m_17_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凯迪拉克</string>
				<key>icon</key>
				<string>m_18_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>林肯</string>
				<key>icon</key>
				<string>m_19_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雪佛兰</string>
				<key>icon</key>
				<string>m_38_100</string>
			</dict>
		</array>
		<key>title</key>
		<string>美系品牌</string>
		<key>desc</key>
		<string>老牌汽车，复古风</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>标致</string>
				<key>icon</key>
				<string>m_21_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雪铁龙</string>
				<key>icon</key>
				<string>m_39_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宾利</string>
				<key>icon</key>
				<string>m_40_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>捷豹</string>
				<key>icon</key>
				<string>m_41_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>路虎</string>
				<key>icon</key>
				<string>m_25_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>劳斯莱斯</string>
				<key>icon</key>
				<string>m_26_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>法拉利</string>
				<key>icon</key>
				<string>m_27_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>兰博基尼</string>
				<key>icon</key>
				<string>m_28_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玛莎拉蒂</string>
				<key>icon</key>
				<string>m_29_100</string>
			</dict>
		</array>
		<key>title</key>
		<string>欧系其他</string>
		<key>desc</key>
		<string>优雅高贵，你值得拥有</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>比亚迪</string>
				<key>icon</key>
				<string>m_30_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奔腾</string>
				<key>icon</key>
				<string>m_31_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北京汽车</string>
				<key>icon</key>
				<string>m_32_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长城</string>
				<key>icon</key>
				<string>m_33_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>东南</string>
				<key>icon</key>
				<string>m_42_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>东风</string>
				<key>icon</key>
				<string>m_35_100</string>
			</dict>
		</array>
		<key>title</key>
		<string>自主品牌</string>
		<key>desc</key>
		<string>Made In China，质量你懂的</string>
	</dict>
</array>
</plist>
