<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<string>10000</string>
		<key>name</key>
		<string>中国电信</string>
		<key>logoname</key>
		<string>ic_china_telecom</string>
	</dict>
	<dict>
		<key>number</key>
		<string>10001</string>
		<key>name</key>
		<string>中国电信客服</string>
		<key>logoname</key>
		<string>ic_china_telecom</string>
	</dict>
	<dict>
		<key>number</key>
		<string>10086</string>
		<key>name</key>
		<string>中国移动</string>
		<key>logoname</key>
		<string>ic_china_mobile</string>
	</dict>
	<dict>
		<key>number</key>
		<string>10010</string>
		<key>name</key>
		<string>中国联通</string>
		<key>logoname</key>
		<string>ic_china_unicom</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95533</string>
		<key>name</key>
		<string>建设银行</string>
		<key>logoname</key>
		<string>ic_china_construction_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95559</string>
		<key>name</key>
		<string>交通银行</string>
		<key>logoname</key>
		<string>ic_communications_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>11185</string>
		<key>name</key>
		<string>中国邮政</string>
		<key>logoname</key>
		<string>ic_china_post</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95566</string>
		<key>name</key>
		<string>中国银行</string>
		<key>logoname</key>
		<string>ic_china_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95588</string>
		<key>name</key>
		<string>中国工商银行</string>
		<key>logoname</key>
		<string>ic_commercial_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95558</string>
		<key>name</key>
		<string>中信银行</string>
		<key>logoname</key>
		<string>ic_citic_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95599</string>
		<key>name</key>
		<string>中国农业银行</string>
		<key>logoname</key>
		<string>ic_agricultural_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95528</string>
		<key>name</key>
		<string>浦发银行</string>
		<key>logoname</key>
		<string>ic_spd_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95577</string>
		<key>name</key>
		<string>华夏银行</string>
		<key>logoname</key>
		<string>ic_huaxia_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95568</string>
		<key>name</key>
		<string>民生银行</string>
		<key>logoname</key>
		<string>ic_mensheng_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95501</string>
		<key>name</key>
		<string>深圳发展银行</string>
		<key>logoname</key>
		<string>ic_shenzhen_develop_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95500</string>
		<key>name</key>
		<string>太平洋保险</string>
		<key>logoname</key>
		<string>ic_pacific_insurance</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95555</string>
		<key>name</key>
		<string>招商银行</string>
		<key>logoname</key>
		<string>ic_china_merchants_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95595</string>
		<key>name</key>
		<string>光大银行</string>
		<key>logoname</key>
		<string>ic_china_everbright_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95561</string>
		<key>name</key>
		<string>兴业银行</string>
		<key>logoname</key>
		<string>ic_industrial_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95519</string>
		<key>name</key>
		<string>中国人寿保险</string>
		<key>logoname</key>
		<string>ic_life_insurance</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95508</string>
		<key>name</key>
		<string>广发银行</string>
		<key>logoname</key>
		<string>ic_guangdong_development_bank</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95511</string>
		<key>name</key>
		<string>平安人寿保险</string>
		<key>logoname</key>
		<string>ic_china_pinan_insurance</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95583</string>
		<key>name</key>
		<string>中国航空</string>
		<key>logoname</key>
		<string>ic_china_airlines</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95557</string>
		<key>name</key>
		<string>厦门航空</string>
		<key>logoname</key>
		<string>ic_xiamen_airlines</string>
	</dict>
	<dict>
		<key>number</key>
		<string>96777</string>
		<key>name</key>
		<string>山东航空</string>
		<key>logoname</key>
		<string>ic_shandong_airlines</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95530</string>
		<key>name</key>
		<string>东方航空</string>
		<key>logoname</key>
		<string>ic_eastern_airlines</string>
	</dict>
	<dict>
		<key>number</key>
		<string>95539</string>
		<key>name</key>
		<string>南方航空</string>
		<key>logoname</key>
		<string>ic_southern_airlines</string>
	</dict>
	<dict>
		<key>number</key>
		<string>950718</string>
		<key>name</key>
		<string>海南航空</string>
		<key>logoname</key>
		<string>ic_hainan_airlines</string>
	</dict>
</array>
</plist>
